process {

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'ignore'

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements
  withName: 'fiji_plugins_biop' {
    errorStrategy = { task.exitStatus == 130 ? 'retry' : 'ignore' }
    cpus = { 16 * task.attempt }
    memory = { 256.GB * task.attempt }
    maxForks = 20
  }

}
