docker {
  enabled = false
}

singularity {

  enabled = true
  autoMounts = true

  cacheDir = '/nfs/cellgeni/singularity/images/'

}
executor {
    name = 'lsf'
    queueSize = 100
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {

  queue = 'normal'

}
